:root {
  height: 100vh;
  width: 100vw;
  font-size: 16px;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: var(--clr-black);
  --clr-main: #0097A7;
  --clr-main-light: #66C1CA;
  --clr-main-dark: #006A75;
  --clr-white: white;
  --clr-black: rgb(45, 45, 45);
  --clr-success-state: #9bc596;
  --clr-success-state-hover: #6abf5e;
  --clr-error-state: #c29393;
  --clr-error-state-hover: #be6767;
}

a {
  font-weight: 500;
  color: #000000;
  text-decoration: inherit;
}

body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* NavBar */
.navbar {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.navbar,
li {
  list-style-type: none;
  
}

.alert {
  color: var(--clr-white);
  background-color: var(--clr-main-dark);
  padding: .8rem 0rem;
  margin: 0;
  text-align: center;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin: 0;
  padding: .4rem 1.2rem;
  border-bottom: var(--clr-black);
}

.lebalein-icon {
  width: 3rem;
  height: 3rem;
}

/* This won't work bc PNG, not SVG. Alter w/ diff icons
.nav-icon {
  width: 2rem;
  height: 2rem;
} */

.logo-container {
  margin-right: auto;
}


/* Footer */

.footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 10px;
  color: #7d7d7d;
  /* text-stone-700 */
  width: 100%;
  gap: .4rem;

  position: absolute;
  bottom: 0;
  padding: .5rem;
}

.footer-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.footer p {
  margin: 0;
  padding: 2px;
}

.footer a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  color: #7d7d7d;
  /* text-stone-700 */
  padding: 2px;
}

.footer a:hover {
  transition: color 0.2s;
  color: #4c51bf;
  /* hover:text-indigo-500 */
}

.footer .social-icon {
  font-size: 2rem;
  color: #4c51bf;
  /* text-indigo-500 */
  transition: color 0.15s;
}

.footer a:hover .social-icon {
  color: #ff5722;
  /* hover:text-orange-500 */
}