:root {
  height: 100vh;
  width: 100vw;
  font-size: 16px;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: var(--clr-black);
  --clr-main: #0097a7;
  --clr-main-light: #66c1ca;
  --clr-main-dark: #006a75;
  --clr-white: white;
  --clr-black: rgb(45, 45, 45);
  --clr-success-state: #9bc596;
  --clr-success-state-hover: #6abf5e;
  --clr-error-state: #c29393;
  --clr-error-state-hover: #be6767;
}

body,
html {
  padding: 0;
  margin: 0;
}

a {
  font-weight: 500;
  color: #000000;
  text-decoration: inherit;
}

/* NavBar */
.navbar {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.navbar,
li {
  list-style-type: none;
}

.alert {
  color: var(--clr-white);
  background-color: var(--clr-main-dark);
  padding: 0.8rem 0rem;
  margin: 0;
  text-align: center;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin: 0;
  padding: 0.4rem 1.2rem;
  border-bottom: var(--clr-black);
}

.lebalein-icon {
  width: 3rem;
  height: 3rem;
}

/* This won't work bc PNG, not SVG. Alter w/ diff icons
.nav-icon {
  width: 2rem;
  height: 2rem;
} */

.logo-container {
  margin-right: auto;
}

/* Homepage */
.slideshow-container {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.homeShopBtn {
  font-size: medium;
  border: none;
  border-radius: 3rem;
  padding: 0.8rem 1.5rem;
}

.slide {
  display: none;
}

.homeBody,
img {
  width: 100%;
  height: auto;
}

.home-text {
  position: absolute;
  max-width: 80vw;
  color: var(--clr-white);
  margin: 0.5rem 0rem;
  bottom: 35vh;
  left: 10vw;
  display: flex;
  flex-direction: column;
}

.home-text h1 {
  margin: .2rem 0rem;
}

.home-text button {
  max-width: 50%;
}

.visible {
  display: block;
  opacity: 1;
  scale: 2;
  height: 60vh;
  transform: translateY(25%);
  /* transition: opacity .5s ease-in-out; */
}

/* .fade {
  animation-name: slide;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  position: relative;
} */

.sustainable-init {
  text-align: center;
}

.sustainability-letter {
  color: var(--clr-white);
  background-color: var(--clr-main);
  font-size: medium;
  border: none;
  border-radius: 3rem;
  padding: 0.8rem 1.5rem;
  margin: 1rem 0rem;
}

.sustainability-letter:hover {
  background-color: var(--clr-main-dark);
}

@keyframes slide {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

/* Footer */
.footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 10px;
  color: #7d7d7d;
  gap: 0.4rem;
  position: relative;
  bottom: 0;
}

.footer-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.footer p {
  margin: 0;
  padding: 2px;
}

.footer a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  color: #7d7d7d;
  /* text-stone-700 */
  padding: 2px;
}

.footer a:hover {
  transition: color 0.2s;
  color: #4c51bf;
  /* hover:text-indigo-500 */
}

.footer .social-icon {
  font-size: 2rem;
  color: #4c51bf;
  /* text-indigo-500 */
  transition: color 0.15s;
}

.footer a:hover .social-icon {
  color: #ff5722;
  /* hover:text-orange-500 */
}

@media only screen and (min-width: 500px) {
  .visible {
    display: block;
    opacity: 1;
    scale: 2;
    height: 70vh;
    transform: translateY(20%);
    /* transition: opacity .5s ease-in-out; */
  }

  .home-text {
    position: absolute;
    max-width: 80vw;
    color: var(--clr-white);
    margin: 0.5rem 0rem;
    bottom: 15vh;
    left: 10vw;
    display: flex;
    flex-direction: column;
  }
  
  .home-text h1 {
    font-size: 3rem;
    margin: .2rem 0rem;
  }

  .home-text h4 {
    font-size: 1.5rem;
  }
  
  .home-text button {
    max-width: 50%;
  }
}
